@charset "UTF-8";
/* CSS Document */

body{
    background-color: white;
    font-family: 'Mukta Mahee', sans-serif;
}

header{
    background-image: url(../images/header-image.jpg);
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    
    
    
}



#header{
    padding: 30px;
    font-size: 4em;
    color:47360c;
    text-shadow: 2px 2px 2px white;
   
}

#subheader{
    color:47360c;
    padding-left: 30px;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}


.wrapper{
    margin: 0 auto;
    max-width: 90%;
    background-color: #e5e5e5;
    padding-bottom: 20px;
    
}


.wrapper h1{
    font-size: 1.7em;
    margin: 20px 0px 20px 2%;
    padding-top: 20px;
    color: 47360c;
}


.wrapper h2{
    margin-left: 5%;
    font-weight: bold;

}

.wrapper ul{
    margin-left: 8%;
    margin-top: 10px;
}

.wrapper ul li{
    margin: 7px;
    list-style-type: circle;
}

footer{
    text-align: center;
    margin-top: 20px;
    background-color:blue;
    padding: 15px;
    font-weight: 500;
    color: white;
}

.assignment-wrapper{
    padding: 10px;
    margin-left: 2%;
    background: #fcffed;
}

.assignment-wrapper h2{
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5px;
}

.assignment-wrapper h1{
    font-weight: bold;
}

button{
    width: 150px;
    display: block;
    margin: 5px;
    height: 30px;
    background: #b5ccf2;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
}

#feedback{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.5em;
    color: red;
}














































